*,
*:before,
*:after {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: 12px sans-serif;
	text-align: center;
	margin: 20px;
}

button {
	display: inline-block;
	border-radius: 5px;
	background: white;
	color: black;
	border: none;
	padding: 8px 16px;
	margin: 0 6px 6px 0px;
	outline: none;
	border: 1px solid black;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;
	overflow-x: hidden;
}
